<section id="location" class="feature">
    <div class="row" data-bottom="transform:translateY(-10em)" data--100-bottom="transform:translateY(0em)">
        <h2>Location</h2>
    </div>

    <div class="row">
        <div class="large-4 columns address" data--100-bottom-top="transform:translateX(-100%)" data--100-bottom="transform:translateX(0)">
            <p>
                <span>ThoughtWorks Technologies Pvt Ltd</span>
                <span>KGiSL Campus, 365</span>
                <span>Thudiyalur Rd, Saravanampatty</span>
                <span>Coimbatore, Tamil Nadu</span>
                <span><small><a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3915.4086379702626!2d76.99652101499824!3d11.082891392114005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba8f792a0e40837%3A0xce2d3eb9118c52e8!2sThoughtWorks+Technologies+(India)+Pvt+Ltd.!5e0!3m2!1sen!2s!4v1507205315809" target="_blank" rel="nofollow">&laquo; Open in Google Maps &raquo;</a></small></span>
            </p>
        </div>

        <div class="large-8 columns map" data-anchor-target=".address" data--100-bottom-top="transform:translateX(100%)" data--100-bottom="transform:translateX(0)">
            <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3915.4086379702626!2d76.99652101499824!3d11.082891392114005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba8f792a0e40837%3A0xce2d3eb9118c52e8!2sThoughtWorks+Technologies+(India)+Pvt+Ltd.!5e0!3m2!1sen!2s!4v1507205315809" target="_blank" rel="nofollow">
              <img src="./img/map.png" alt="Map" align="center" />
            </a>
        </div>
    </div>
</section>
